- 时间戳转换为'%Y/%m/%d'的形式
- 预测值转换为整数

In [2]:
import pandas as pd

In [3]:
result1_ = pd.read_excel("result/result.xlsx")
result2_ = pd.read_excel("result/result2.xlsx")
result3_ = pd.read_excel("result/result3.xlsx")

In [47]:
result1 = result1_.copy()
result2 = result2_.copy()
result3 = result3_.copy()

result1.head()

   seller_no    product_no warehouse_no        date  qty
0  seller_10  product_1931        wh_24  2023-05-16    1
1  seller_10  product_1931        wh_24  2023-05-17    1
2  seller_10  product_1931        wh_24  2023-05-18    2
3  seller_10  product_1931        wh_24  2023-05-19    1
4  seller_10  product_1931        wh_24  2023-05-20    1

In [48]:
def formati(df):
    df = df.copy()
    df["date"] = pd.Index(pd.to_datetime(df["date"])).strftime('%Y/%m/%d')
    df["qty"] = df["qty"].astype('float').round()
    df = df.rename(columns={'qty': 'forecast_qty'})
    
    return df

In [49]:
result1 = formati(result1)
result2 = formati(result2)
result3 = formati(result3)

result1.head()

   seller_no    product_no warehouse_no        date  forecast_qty
0  seller_10  product_1931        wh_24  2023/05/16           1.0
1  seller_10  product_1931        wh_24  2023/05/17           1.0
2  seller_10  product_1931        wh_24  2023/05/18           2.0
3  seller_10  product_1931        wh_24  2023/05/19           1.0
4  seller_10  product_1931        wh_24  2023/05/20           1.0

In [32]:
result1.to_excel('result/结果表1-预测结果表.xlsx',index=False)
print(1)
result2.to_excel('result/结果表2-预测结果表.xlsx',index=False)
print(2)
result3.to_excel('result/结果表3-预测结果表.xlsx',index=False)
print(3)