In [1]:
import numpy as np
import pandas as pd

import seaborn as sns  
sns.set_style("darkgrid")
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rcParams["font.sans-serif"]=["SimHei"]#展示中文字体
mpl.rcParams["axes.unicode_minus"]=False#处理负刻度值

In [2]:
product_type_raw = pd.read_excel("data/附件2-商品信息表.xlsx")
storage_type_raw = pd.read_excel("data/附件4-仓库信息表.xlsx")
seller_type_raw = pd.read_excel("data/附件3-商家信息表.xlsx")
seller_type_raw.head()

  seller_no seller_category inventory_category seller_level
0  seller_1            居家生活                  B          New
1  seller_2              厨具                  A        Large
2  seller_3              厨具                  A        Large
3  seller_4            家居日用                  A        Large
4  seller_5            家居日用                  B        Large

In [3]:
new_data_raw = pd.read_excel("data/附件5-新品历史出货量表.xlsx")

In [4]:
data = new_data_raw.copy()
data["qty"] = data["qty"].where(data["qty"] <= 200, 200)
data.head()

  seller_no warehouse_no    product_no       date  qty
0  seller_1         wh_1  product_2073 2023-04-13    1
1  seller_1         wh_1  product_2073 2023-04-14    0
2  seller_1         wh_1  product_2073 2023-04-15    1
3  seller_1         wh_1  product_2073 2023-04-16    0
4  seller_1         wh_1  product_2073 2023-04-17    0

In [5]:
product_type = product_type_raw.set_index("product_no")
storage_type = storage_type_raw.drop_duplicates(keep='first').set_index("warehouse_no")
seller_type = seller_type_raw.set_index("seller_no")
seller_type["mixed type"] = seller_type["inventory_category"]+" "+seller_type["seller_level"]
seller_type.head()

          seller_category inventory_category seller_level mixed type
seller_no
seller_1             居家生活                  B          New      B New
seller_2               厨具                  A        Large    A Large
seller_3               厨具                  A        Large    A Large
seller_4             家居日用                  A        Large    A Large
seller_5             家居日用                  B        Large    B Large

In [19]:
data["seller type"] = seller_type.loc[data["seller_no"]]["mixed type"].values
data.head()

  seller_no warehouse_no    product_no       date  qty seller type
0  seller_1         wh_1  product_2073 2023-04-13    1       B New
1  seller_1         wh_1  product_2073 2023-04-14    0       B New
2  seller_1         wh_1  product_2073 2023-04-15    1       B New
3  seller_1         wh_1  product_2073 2023-04-16    0       B New
4  seller_1         wh_1  product_2073 2023-04-17    0       B New

# 模型读取+分类

In [7]:
# 数据集划分，自定义窗口大小和数据量

product_num = 1000
ratio = 0.8

WINDOW = 10
FEATURES = 9

from numpy.lib.stride_tricks import sliding_window_view
def split_data(raw, window, num=product_num):
    
    index = raw.index.get_level_values(0).unique()
    print(len(index))
    num = min(num, len(index))
    
    def choice(index, count):
        index = np.random.choice(index, count, replace=False)
        return index
    
    prod_choice = choice(index, num)
    data = raw.loc[prod_choice]
    print(data.head())
    data = data.to_numpy()
    print(data.shape)
    
    x = sliding_window_view(data, window_shape=(window,FEATURES)).squeeze(1)[:-1].reshape((-1, window*FEATURES)) 
    y = data.T[0, window:]
    
    train_count = int(ratio * len(y))
    
    return x[:train_count], y[:train_count], x[train_count:], y[train_count:]

In [8]:
# 滑动窗口预测

def LongTerm(model, step, data_x, first_day=0):
    
    shape_flat = np.prod(data_x.shape)
    
    if shape_flat%(WINDOW*FEATURES) != 0:
        return None
    if shape_flat == 0:
        return None
    
    root = data_x.reshape(-1, WINDOW, FEATURES).squeeze(0)
    
    for i in range(step):
        predict_window = root[-WINDOW:]
        series = root.T[0][-WINDOW:]
        
        predict = model.predict(predict_window.reshape(1, WINDOW*FEATURES))[0]
        predict = max(min(predict, 200), 0)
        series = np.append(series, predict)
        
        mean_5 = series[-5:].mean()
        std_5 = series[-5:].std()
        mean_15 = series[-15:].mean()
        std_15 = series[-15:].std()
        min_15 = series[-15:].min()
        max_15 = series[-15:].max()
        
        d_mean_5 = mean_5 - predict_window.T[1][-1]
        weekend = first_day%7 in [5,6] 
        
        new_col = [predict, mean_5, std_5, mean_15, std_15, min_15, max_15, d_mean_5, weekend]
        #print(new_col)
        
        root = np.append(root, [new_col], axis = 0)
        
    return root.T

In [9]:
# 1-wmape 打分

def WmapeScore(predict, gt):
    gt_sum = gt.sum()
    err_sum = np.abs(predict-gt).sum()
    
    return 1 - err_sum/gt_sum

In [10]:
# 训练单元

class TrainingUnit:
    
    def __init__(self, data, window, num, model):
        
        if data is not None:
            self.train_x, self.train_y, self.test_x, self.test_y = split_data(data, window, num)
        self.model = model
        
        self.window = window
        
    def train(self):
        
        self.model.fit(self.train_x, self.train_y)
        
    def evalueate_single(self, type_name=None, show_graph=True):
        
        predict = self.model.predict(self.test_x)
        
        if show_graph:
            plt.plot(self.test_y[:300], label='真实值')
            plt.plot(predict[:300],     label='预测值')
            plt.legend()
            plt.xlabel('日期')
            plt.ylabel('需求量' if type_name is None else type_name+"型商家需求量")
            
            plt.subplots_adjust(left=0, right=2)
            plt.show()
        
        mse = np.mean((self.test_y - predict) ** 2)
        print("MSE:",mse)
        print("MIN:",np.mean(np.diff(self.test_y)**2))
        
        return predict, mse
        
    def long_term_predict(self, step, root=None, first_day=0):
        if root is None:
            root = self.test_x[self.window:][0]
            
        result = LongTerm(self.model, step, root, first_day)
        
        return result, root
    
    def evalueate(self, step, predict, real): 
        if predict is None:
            return 0
        
        w_score = WmapeScore(predict[0][self.window:], real[self.window:self.window+step])
        
        return w_score
    
    def evalueate_long(self, step, times=1):
        w_scores = []
        for i in range(1):
            high = len(self.test_x)-self.window*3
            
            offset = np.random.randint(0, min(max(1, high),len(self.test_x)))
            
            if self.test_x[offset+self.window:].shape[0] == 0:
                continue
                
            root = self.test_x[offset+self.window:][0]
            predict, _ = self.long_term_predict(step, root)
            
            if predict is None:
                continue
            
            w_score = self.evalueate(step, predict, self.test_y[offset:])
            w_scores += [w_score]
            
        return np.mean(w_scores)
        
    def show_long(self, result, root, step=15, type_name=None):
        
        plt.plot(root[:self.window+step], label="GT")
        plt.plot(result[0], label="Predict")
        plt.legend()
        
        plt.subplots_adjust(left=0, right=2)
        plt.show()

In [30]:
import joblib
import os
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor

LinearModels = RFModels = dict()

for root, dirs, files in os.walk("models"):
    print(root, dirs)
    for file in files:
        model_type = file[:-7]
        #print(model_type)]
        
        if model_type not in data["seller type"].unique():
            continue
        
        model = joblib.load("models/"+file)
        
        df = data.groupby("seller type").get_group(model_type).sort_values(by=["product_no","warehouse_no", "date"])
        df = df[["product_no","date","qty"]].set_index(["product_no","date"])
        
        df["mean 5"] = df["qty"].rolling(window=5).mean().fillna(0)
        df["std 5"] = df["qty"].rolling(window=5).std().fillna(0)
        df["mean 15"] = df["qty"].rolling(window=15).mean().fillna(0)
        df["std 15"] = df["qty"].rolling(window=15).std().fillna(0)
        df["min 15"] = df["qty"].rolling(window=15).min().fillna(0)
        df["max 15"] = df["qty"].rolling(window=15).max().fillna(0)
        df["d mean 5"] = df["mean 5"].diff().fillna(0)
        df["weekend"] = pd.to_datetime(df.index.get_level_values(1)).dayofweek.isin([5, 6])
        
        print(df.shape)
        
        if "_LR" in file:
            LinearModels[model_type] = TrainingUnit(df, 10, 1000, model)
        elif "_RF" in file:
            RFModels[model_type] = TrainingUnit(df, 10, 10, model)
            
RFModels

models []
(1319, 9)
30
                         qty  mean 5     std 5   mean 15    std 15  min 15  \
product_no   date
product_2056 2023-04-20    6     3.4  3.435113  1.600000  2.585675     0.0
             2023-04-21   10     3.8  4.147288  2.266667  3.326660     0.0
             2023-04-22   16     6.6  6.618157  3.333333  4.790864     0.0
             2023-04-23   22    10.8  8.555700  4.800000  6.689010     0.0
             2023-04-24   18    14.4  6.387488  6.000000  7.348469     0.0

                         max 15  d mean 5  weekend
product_no   date
product_2056 2023-04-20     8.0       1.0    False
             2023-04-21    10.0       0.4    False
             2023-04-22    16.0       2.8     True
             2023-04-23    22.0       4.2     True
             2023-04-24    22.0       3.6    False
(1319, 9)
(1319, 9)
30
                         qty  mean 5     std 5   mean 15    std 15  min 15  \
product_no   date
product_2365 2023-04-01    1     4.4  3.130495  3.066667  3.104528     0.0
             2023-04-02    1     4.0  3.464102  3.000000  3.139609     0.0
             2023-04-03    0     3.4  3.911521  2.933333  3.195235     0.0
             2023-04-04    4     3.0  3.674235  3.000000  3.207135     0.0
             2023-04-05    0     1.2  1.643168  3.000000  3.207135     0.0

                         max 15  d mean 5  weekend
product_no   date
product_2365 2023-04-01    10.0      -0.6     True
             2023-04-02    10.0      -0.4     True
             2023-04-03    10.0      -0.6    False
             2023-04-04    10.0      -0.4    False
             2023-04-05    10.0      -1.8    False
(360, 9)
(43, 9)
1
                         qty  mean 5     std 5  mean 15  std 15  min 15  \
product_no   date
product_2079 2023-04-03    1     0.0  0.000000      0.0     0.0     0.0
             2023-04-04    1     0.0  0.000000      0.0     0.0     0.0
             2023-04-05    2     0.0  0.000000      0.0     0.0     0.0
             2023-04-06    1     0.0  0.000000      0.0     0.0     0.0
             2023-04-07    1     1.2  0.447214      0.0     0.0     0.0

                         max 15  d mean 5  weekend
product_no   date
product_2079 2023-04-03     0.0       0.0    False
             2023-04-04     0.0       0.0    False
             2023-04-05     0.0       0.0    False
             2023-04-06     0.0       0.0    False
             2023-04-07     0.0       1.2    False
(43, 9)
(43, 9)
1
                         qty  mean 5     std 5  mean 15  std 15  min 15  \
product_no   date
product_2079 2023-04-03    1     0.0  0.000000      0.0     0.0     0.0
             2023-04-04    1     0.0  0.000000      0.0     0.0     0.0
             2023-04-05    2     0.0  0.000000      0.0     0.0     0.0
             2023-04-06    1     0.0  0.000000      0.0     0.0     0.0
             2023-04-07    1     1.2  0.447214      0.0     0.0     0.0

                         max 15  d mean 5  weekend
product_no   date
product_2079 2023-04-03     0.0       0.0    False
             2023-04-04     0.0       0.0    False
             2023-04-05     0.0       0.0    False
             2023-04-06     0.0       0.0    False
             2023-04-07     0.0       1.2    False
(43, 9)
(158, 9)
2
                         qty  mean 5     std 5  mean 15  std 15  min 15  \
product_no   date
product_2299 2023-04-14    2     0.0  0.000000      0.0     0.0     0.0
             2023-04-15    0     0.0  0.000000      0.0     0.0     0.0
             2023-04-16    2     0.0  0.000000      0.0     0.0     0.0
             2023-04-17    0     0.0  0.000000      0.0     0.0     0.0
             2023-04-18    0     0.8  1.095445      0.0     0.0     0.0

                         max 15  d mean 5  weekend
product_no   date
product_2299 2023-04-14     0.0       0.0    False
             2023-04-15     0.0       0.0     True
             2023-04-16     0.0       0.0     True
             2023-04-17     0.0       0.0    False
             2023-04-18     0.0       0.8    False
(158, 9)
(158, 9)
2
                         qty  mean 5      std 5    mean 15    std 15  min 15  \
product_no   date
product_2303 2023-04-11   13    22.8  11.882761  21.533333  9.046441    11.0
             2023-04-12    8    20.6  13.649176  21.333333  9.324826     8.0
             2023-04-13    9    16.8  13.718601  20.000000  9.576758     8.0
             2023-04-14    9    16.0  14.106736  18.200000  8.865664     8.0
             2023-04-15    8     9.4   2.073644  17.533333  9.249453     8.0

                         max 15  d mean 5  weekend
product_no   date
product_2303 2023-04-11    41.0      -1.6    False
             2023-04-12    41.0      -2.2    False
             2023-04-13    41.0      -3.8    False
             2023-04-14    41.0      -0.8    False
             2023-04-15    41.0      -6.6     True
(158, 9)
(2204, 9)
43
                        qty  mean 5     std 5   mean 15    std 15  min 15  \
product_no  date
product_280 2023-04-08    1     2.2  1.303840  1.866667  1.302013     0.0
            2023-04-09    2     1.8  0.836660  1.933333  1.279881     0.0
            2023-04-10    0     1.6  1.140175  1.933333  1.279881     0.0
            2023-04-11    0     1.2  1.303840  1.800000  1.373213     0.0
            2023-04-12    0     0.6  0.894427  1.800000  1.373213     0.0

                        max 15  d mean 5  weekend
product_no  date
product_280 2023-04-08     4.0      -0.4     True
            2023-04-09     4.0      -0.4     True
            2023-04-10     4.0      -0.2    False
            2023-04-11     4.0      -0.4    False
            2023-04-12     4.0      -0.6    False
(2204, 9)
(2204, 9)
43
                         qty  mean 5     std 5   mean 15    std 15  min 15  \
product_no   date
product_2046 2023-04-07    1     0.4  0.547723  0.600000  0.736788     0.0
             2023-04-08    1     0.6  0.547723  0.533333  0.639940     0.0
             2023-04-09    2     1.0  0.707107  0.600000  0.736788     0.0
             2023-04-10    0     0.8  0.836660  0.533333  0.743223     0.0
             2023-04-11    0     0.8  0.836660  0.533333  0.743223     0.0

                         max 15  d mean 5  weekend
product_no   date
product_2046 2023-04-07     2.0      -0.2    False
             2023-04-08     2.0       0.2     True
             2023-04-09     2.0       0.4     True
             2023-04-10     2.0      -0.2    False
             2023-04-11     2.0       0.0    False
(380, 9)
(740, 9)
13
                         qty  mean 5     std 5   mean 15    std 15  min 15  \
product_no   date
product_2118 2023-04-01    2     1.2  0.836660  1.666667  1.496026     0.0
             2023-04-02    0     1.2  0.836660  1.333333  1.234427     0.0
             2023-04-03    1     1.0  0.707107  1.333333  1.234427     0.0
             2023-04-04    0     0.8  0.836660  1.133333  1.187234     0.0
             2023-04-05    1     0.8  0.836660  1.066667  1.162919     0.0

                         max 15  d mean 5  weekend
product_no   date
product_2118 2023-04-01     5.0       0.4     True
             2023-04-02     4.0       0.0     True
             2023-04-03     4.0      -0.2    False
             2023-04-04     4.0      -0.2    False
             2023-04-05     4.0       0.0    False
(740, 9)
(740, 9)
13
                         qty  mean 5     std 5   mean 15    std 15  min 15  \
product_no   date
product_2337 2023-04-09    1     0.2  0.447214  0.466667  0.516398     0.0
             2023-04-10    0     0.2  0.447214  0.400000  0.507093     0.0
             2023-04-11    4     1.0  1.732051  0.600000  1.055597     0.0
             2023-04-12    1     1.2  1.643168  0.600000  1.055597     0.0
             2023-04-13    1     1.4  1.516575  0.600000  1.055597     0.0

                         max 15  d mean 5  weekend
product_no   date
product_2337 2023-04-09     1.0       0.0     True
             2023-04-10     1.0       0.0    False
             2023-04-11     4.0       0.8    False
             2023-04-12     4.0       0.2    False
             2023-04-13     4.0       0.2    False
(551, 9)
(505, 9)
10
                        qty  mean 5     std 5   mean 15    std 15  min 15  \
product_no  date
product_581 2023-04-15    2     2.8  1.483240  5.666667  5.433582     0.0
            2023-04-16    6     3.4  2.073644  6.000000  5.277987     0.0
            2023-04-17    5     3.8  2.167948  6.200000  5.171350     0.0
            2023-04-18    2     4.0  1.870829  5.533333  5.012366     0.0
            2023-04-19    0     3.0  2.449490  4.733333  4.861902     0.0

                        max 15  d mean 5  weekend
product_no  date
product_581 2023-04-15    18.0       0.4     True
            2023-04-16    18.0       0.6     True
            2023-04-17    18.0       0.4    False
            2023-04-18    18.0       0.2    False
            2023-04-19    18.0      -1.0    False
(505, 9)
(505, 9)
10
                         qty  mean 5     std 5   mean 15    std 15  min 15  \
product_no   date
product_2091 2023-04-16    1     5.0  3.316625  4.666667  3.015831     1.0
             2023-04-17    1     3.2  2.167948  4.466667  3.159265     1.0
             2023-04-18    0     2.4  2.509980  4.133333  3.356586     0.0
             2023-04-19    0     1.6  2.509980  3.800000  3.509172     0.0
             2023-04-20    0     0.4  0.547723  3.533333  3.642344     0.0

                         max 15  d mean 5  weekend
product_no   date
product_2091 2023-04-16    12.0      -2.2     True
             2023-04-17    12.0      -1.8    False
             2023-04-18    12.0      -0.8    False
             2023-04-19    12.0      -0.8    False
             2023-04-20    12.0      -1.2    False
(505, 9)
(161, 9)
3
                         qty  mean 5     std 5   mean 15    std 15  min 15  \
product_no   date
product_2425 2023-04-22    2     1.8  0.836660  1.133333  0.915475     0.0
             2023-04-23    0     1.4  1.140175  1.066667  0.961150     0.0
             2023-04-24    1     1.0  0.707107  1.000000  0.925820     0.0
             2023-04-25    0     0.8  0.836660  1.000000  0.925820     0.0
             2023-04-26    1     0.8  0.836660  1.066667  0.883715     0.0

                         max 15  d mean 5  weekend
product_no   date
product_2425 2023-04-22     3.0       0.4     True
             2023-04-23     3.0      -0.4     True
             2023-04-24     3.0      -0.4    False
             2023-04-25     3.0      -0.2    False
             2023-04-26     3.0       0.0    False
(161, 9)
(161, 9)
3
                         qty  mean 5     std 5   mean 15    std 15  min 15  \
product_no   date
product_2425 2023-04-22    2     1.8  0.836660  1.133333  0.915475     0.0
             2023-04-23    0     1.4  1.140175  1.066667  0.961150     0.0
             2023-04-24    1     1.0  0.707107  1.000000  0.925820     0.0
             2023-04-25    0     0.8  0.836660  1.000000  0.925820     0.0
             2023-04-26    1     0.8  0.836660  1.066667  0.883715     0.0

                         max 15  d mean 5  weekend
product_no   date
product_2425 2023-04-22     3.0       0.4     True
             2023-04-23     3.0      -0.4     True
             2023-04-24     3.0      -0.4    False
             2023-04-25     3.0      -0.2    False
             2023-04-26     3.0       0.0    False
(161, 9)
(1025, 9)
9
                        qty  mean 5      std 5    mean 15     std 15  min 15  \
product_no  date
product_408 2023-04-11    3    31.0  28.080242  18.066667  18.732961     3.0
            2023-04-12    4    27.8  30.458168  18.000000  18.784492     3.0
            2023-04-13    1    25.2  32.422215  17.400000  19.197470     1.0
            2023-04-14    1    16.4  31.667018  16.000000  19.599563     1.0
            2023-04-15    0     1.8   1.643168  14.333333  19.841035     0.0

                        max 15  d mean 5  weekend
product_no  date
product_408 2023-04-11    73.0      -1.2    False
            2023-04-12    73.0      -3.2    False
            2023-04-13    73.0      -2.6    False
            2023-04-14    73.0      -8.8    False
            2023-04-15    73.0     -14.6     True
(1025, 9)
(1025, 9)
9
                        qty  mean 5     std 5    mean 15    std 15  min 15  \
product_no  date
product_414 2023-04-11    4     4.8  4.438468  10.866667  7.130084     0.0
            2023-04-12    1     4.0  4.743416  10.266667  7.573135     0.0
            2023-04-13    2     2.0  1.581139   9.466667  7.781541     0.0
            2023-04-14    2     1.8  1.483240   8.000000  6.866066     0.0
            2023-04-15    1     2.0  1.224745   6.733333  6.215955     0.0

                        max 15  d mean 5  weekend
product_no  date
product_414 2023-04-11    24.0      -1.0    False
            2023-04-12    24.0      -0.8    False
            2023-04-13    24.0      -2.0    False
            2023-04-14    20.0      -0.2    False
            2023-04-15    19.0       0.2     True
(1025, 9)
(521, 9)
8
                         qty  mean 5     std 5   mean 15    std 15  min 15  \
product_no   date
product_2248 2023-04-06    3     1.8  1.303840  1.866667  1.846490     0.0
             2023-04-07    1     1.4  1.140175  1.933333  1.791514     0.0
             2023-04-08    1     1.2  1.095445  2.000000  1.732051     0.0
             2023-04-09    0     1.2  1.095445  1.666667  1.588650     0.0
             2023-04-10    1     1.2  1.095445  1.400000  1.298351     0.0

                         max 15  d mean 5  weekend
product_no   date
product_2248 2023-04-06     5.0       0.6    False
             2023-04-07     5.0      -0.4    False
             2023-04-08     5.0      -0.2     True
             2023-04-09     5.0       0.0     True
             2023-04-10     4.0       0.0    False
(521, 9)

(521, 9)
8
                         qty  mean 5     std 5   mean 15    std 15  min 15  \
product_no   date
product_2245 2023-04-02    1     2.0  1.732051  1.266667  1.334523     0.0
             2023-04-03    1     2.0  1.732051  1.333333  1.290994     0.0
             2023-04-04    2     2.2  1.643168  1.400000  1.298351     0.0
             2023-04-05    1     1.4  0.547723  1.266667  1.222799     0.0
             2023-04-06    0     1.0  0.707107  1.266667  1.222799     0.0

                         max 15  d mean 5  weekend
product_no   date
product_2245 2023-04-02     5.0       0.0     True
             2023-04-03     5.0       0.0    False
             2023-04-04     5.0       0.2    False
             2023-04-05     5.0      -0.8    False
             2023-04-06     5.0      -0.4    False
(521, 9)

{'A Large': <__main__.TrainingUnit at 0x1819496a850>,
 'A Medium': <__main__.TrainingUnit at 0x1819c360fa0>,
 'A Special': <__main__.TrainingUnit at 0x1819c367100>,
 'B Large': <__main__.TrainingUnit at 0x1819b33d7f0>,
 'B Medium': <__main__.TrainingUnit at 0x1819c2aacd0>,
 'B Small': <__main__.TrainingUnit at 0x1819b424f70>,
 'B Special': <__main__.TrainingUnit at 0x1819b424970>,
 'C Large': <__main__.TrainingUnit at 0x181959674c0>,
 'D Large': <__main__.TrainingUnit at 0x1819c360e80>}

## 自主预测

### 微调

In [31]:
def TrainingProcess(table):

    count = 0
    for t, unit in table.items():
        unit.train()
        count+=1
        print(f"微调：{count}/{len(table)}")
        
    for t, unit in table.items():
        score = unit.evalueate_long(15, 30)
        print(t, score)

In [32]:
TrainingProcess(LinearModels)
TrainingProcess(RFModels)

微调：1/9
微调：2/9
微调：3/9
微调：4/9
微调：5/9
微调：6/9
微调：7/9
微调：8/9
微调：9/9
A Large 0.31122807017543863
A Medium nan
A Special 0.5426819923371647
B Large 0.11473684210526314
B Medium -2.223243243243243

D:\ProgramData\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
D:\ProgramData\anaconda3\lib\site-packages\numpy\core\_methods.py:192: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)

B Small -1.1399999999999997
B Special 0.2608955223880597
C Large -18.96923076923077
D Large -1.2146666666666666
微调：1/9
微调：2/9
微调：3/9
微调：4/9
微调：5/9
微调：6/9
微调：7/9
微调：8/9
微调：9/9
A Large 0.20863636363636362
A Medium nan
A Special 0.5426819923371647
B Large 0.3899999999999999
B Medium 0.0911764705882353

D:\ProgramData\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
D:\ProgramData\anaconda3\lib\site-packages\numpy\core\_methods.py:192: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)

B Small -13.699999999999998
B Special 0.2608955223880597
C Large -0.1063917525773197
D Large 0.14125

### 预测

In [33]:
data3 = data.copy().set_index("product_no")
target = data3.reset_index()[["product_no", "seller_no","warehouse_no"]].drop_duplicates(keep='first')
target = target.set_index("seller_no").sort_index()
target

             product_no warehouse_no
seller_no
seller_1   product_2073         wh_1
seller_1   product_2084         wh_1
seller_1   product_2262         wh_1
seller_1   product_2350         wh_1
seller_1      product_4         wh_1
...                 ...          ...
seller_9   product_2122        wh_13
seller_9   product_2122        wh_14
seller_9   product_2114        wh_15
seller_9   product_2119        wh_15
seller_9   product_2122        wh_15

[210 rows x 2 columns]

In [37]:
Result = pd.DataFrame(columns=["seller_no","product_no","warehouse_no","date","qty"])
print(Result)

predict_data = data[["product_no","warehouse_no","date","qty"]].set_index(["product_no","warehouse_no"]).sort_index()
predict_data["date"] = pd.to_datetime(predict_data["date"])
predict_data = predict_data[predict_data["date"]>="2023-04-20"] # 10+15 days before

count = 0
for seller_no, seller_data in target.reset_index().groupby("seller_no"):
    
    seller_mixed_type = seller_type.loc[seller_no]["mixed type"]
    
    if seller_mixed_type not in LinearModels.keys():
        print(f"!!! Unknown {seller_mixed_type} from {seller_no}")
        
        if seller_no == 'seller_34':
            seller_mixed_type = 'A Special'
        elif seller_no == 'seller_1':
            seller_mixed_type = 'B Small'
    
    res_all = []
    unit = RFModels[seller_mixed_type]
    
    print(f"    - {seller_no}包含{len(seller_data)}次预测")
    for index, tar in seller_data[["product_no","warehouse_no"]].iterrows():
        product = tar[0]
        wh = tar[1]

        single_series = predict_data.loc[(product, wh)].sort_values(by='date',ascending=True)
        
        single_series["mean 5"] = single_series["qty"].rolling(window=5).mean().fillna(0)
        single_series["std 5"] = single_series["qty"].rolling(window=5).std().fillna(0)
        single_series["mean 15"] = single_series["qty"].rolling(window=15).mean().fillna(0)
        single_series["std 15"] = single_series["qty"].rolling(window=15).std().fillna(0)
        single_series["min 15"] = single_series["qty"].rolling(window=15).min().fillna(0)
        single_series["max 15"] = single_series["qty"].rolling(window=15).max().fillna(0)
        single_series["d mean 5"] = single_series["mean 5"].diff().fillna(0)
        single_series["weekend"] = pd.Index(single_series["date"]).dayofweek.isin([5, 6])
        
        input_data = single_series[["qty","mean 5","std 5","mean 15","std 15","min 15","max 15","d mean 5","weekend"]].values
        input_data = input_data[-WINDOW:].reshape((1,WINDOW*FEATURES))
        
        predict, root = unit.long_term_predict(15, input_data, 1) # first day is Tuesday
        
        if predict is None:
            print(seller_no, product, wh) 
            print(input_data.shape)
        
        predict_series = predict[0][WINDOW:]
        day_series = (single_series["date"][-15:]+pd.Timedelta(days=15)).values
        
        #print(predict_series.shape, day_series.shape)
        
        res = {
            "seller_no" : seller_no,
            "product_no" : product,
            "warehouse_no" : wh,
            "date" : day_series,
            "qty" : predict_series
        }
        res_df = pd.DataFrame(res)
        res_all.append(res_df)

    count+=1
    Result = pd.concat([Result]+res_all, axis=0)
    print(f">>> 预测进度：{count}/{len(target.index.unique())}")
print(">>> 预测完毕")

Empty DataFrame
Columns: [seller_no, product_no, warehouse_no, date, qty]
Index: []
!!! Unknown B New from seller_1
    - seller_1包含12次预测
>>> 预测进度：1/28
    - seller_11包含3次预测
>>> 预测进度：2/28
    - seller_12包含3次预测
>>> 预测进度：3/28
    - seller_13包含2次预测
>>> 预测进度：4/28
    - seller_14包含3次预测
>>> 预测进度：5/28
    - seller_15包含16次预测
>>> 预测进度：6/28
    - seller_17包含5次预测
>>> 预测进度：7/28
    - seller_18包含3次预测
>>> 预测进度：8/28
    - seller_19包含28次预测
>>> 预测进度：9/28
    - seller_20包含2次预测
>>> 预测进度：10/28
    - seller_21包含3次预测
>>> 预测进度：11/28
    - seller_23包含13次预测
>>> 预测进度：12/28
    - seller_26包含2次预测
>>> 预测进度：13/28
    - seller_27包含5次预测
>>> 预测进度：14/28
    - seller_28包含16次预测
>>> 预测进度：15/28
    - seller_29包含4次预测
>>> 预测进度：16/28
    - seller_3包含5次预测
>>> 预测进度：17/28
    - seller_30包含7次预测
>>> 预测进度：18/28
    - seller_31包含8次预测
>>> 预测进度：19/28
    - seller_33包含4次预测
>>> 预测进度：20/28
!!! Unknown A New from seller_34
    - seller_34包含9次预测
>>> 预测进度：21/28
    - seller_35包含11次预测
>>> 预测进度：22/28
    - seller_4包含2次预测
>>> 预测进度：23/28
    - seller_5包含5次预测
>>> 预测进度：24/28
    - seller_6包含1次预测
>>> 预测进度：25/28
    - seller_7包含17次预测
>>> 预测进度：26/28
    - seller_8包含7次预测
>>> 预测进度：27/28
    - seller_9包含14次预测
>>> 预测进度：28/28
>>> 预测完毕

- seller_34 为新的A类商户
- seller_1  为新的B类商户

In [38]:
Result.to_excel('result/result2.xlsx', index=False)
Result

   seller_no    product_no warehouse_no       date   qty
0   seller_1  product_2073         wh_1 2023-05-16  1.44
1   seller_1  product_2073         wh_1 2023-05-17  1.92
2   seller_1  product_2073         wh_1 2023-05-18  1.92
3   seller_1  product_2073         wh_1 2023-05-19  1.76
4   seller_1  product_2073         wh_1 2023-05-20  1.92
..       ...           ...          ...        ...   ...
10  seller_9  product_2122        wh_15 2023-05-26  1.72
11  seller_9  product_2122        wh_15 2023-05-27  2.06
12  seller_9  product_2122        wh_15 2023-05-28  2.68
13  seller_9  product_2122        wh_15 2023-05-29  2.64
14  seller_9  product_2122        wh_15 2023-05-30  2.62

[3150 rows x 5 columns]